*{
    margin: 0;
    padding: 0;
}

body{
    background-color: cadetblue;
}

h2{
    color: coral;
}

h1{
    color: brown;
    text-align: center;
}

/*Identificador de CSS*/
#titulo_princi{
    color: grey;
    text-align: center;
    margin: 15px;
}

/*Clase de CSS*/ 
.tarjeta{
    border: 10px solid crimson;
    background-color: #f1faee;
    text-align: center;
    margin: 20px 100px;
    padding: 15px;
}

.titulo{
    color: darkorchid;
}