h1{
    color: blue;
}

/*
a:link{
    color: #ff0606;
    text-decoration: none;
}

a:visited{
    color: #00bdec;
    text-decoration: none;
}

a:hover{
    color: #ff00bf;
    text-decoration: underline;
}

a:active{
    color: #fffb02;
    text-decoration: underline;
}
*/ 

a:link, a:visited{
    background-color: #b5178b;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active{
    background-color: #f72585;
}